In [1]:
import pandas as pd

#  Read CSV File

In [2]:
pwd

'/Users/80094/Workspace/machines-school/pandas-crash-course'

In [35]:
df = pd.read_csv('./sales-jan-2009.csv')

In [36]:
df

,Transaction_date,Product,Price,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,Latitude,Longitude,US Zip
0,01/02/2009 04:53,Product1,1200,Visa,Betina,Parkville,MO,United States,1/2/2009 04:42,1/2/2009 07:49,39.195000,-94.681940,64152.0
1,01/02/2009 13:08,Product1,1200,Mastercard,Federica e Andrea,Astoria,OR,United States,1/1/2009 16:21,1/3/2009 12:32,46.188060,-123.830000,97103.0
2,01/04/2009 12:56,Product2,3600,Visa,Gerd W,Cahaba Heights,AL,United States,11/15/08 15:47,1/4/2009 12:45,33.520560,-86.802500,35243.0
3,01/04/2009 13:19,Product1,1200,Visa,LAURENCE,Mickleton,NJ,United States,9/24/08 15:19,1/4/2009 13:04,39.790000,-75.238060,8056.0
4,01/04/2009 20:11,Product1,1200,Mastercard,Fleur,Peoria,IL,United States,1/3/2009 09:38,1/4/2009 19:45,40.693610,-89.588890,61601.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,01/02/2009 17:24,Product2,3600,Diners,clara,Perth,Western Australia,Australia,1/1/2009 21:20,2/27/2009 18:43,-31.933333,115.833333,NaN
994,01/04/2009 18:57,Product1,1200,Mastercard,KELI,Worongary,Queensland,Australia,12/23/08 15:17,2/28/2009 14:00,-28.050000,153.350000,NaN
995,01/23/2009 12:42,Product2,3600,Mastercard,Anke,Avalon,New South Wales,Australia,3/3/08 17:38,2/28/2009 22:26,-33.633333,151.333333,NaN
996,01/07/2009 19:48,Product2,3600,Mastercard,TRICIA,Sydney,New South Wales,Australia,9/21/08 20:49,3/1/2009 00:14,-33.883333,151.216667,NaN
997,01/25/2009 05:57,Product1,1200,Amex,pamela,Ayacucho,Buenos Aires,Argentina,1/24/2009 09:29,2/10/2009 06:38,-37.150000,-58.483333,NaN

In [38]:
newdf = df[['City', 'State']]

In [39]:
newdf

               City              State
0         Parkville                 MO
1           Astoria                 OR
2    Cahaba Heights                 AL
3         Mickleton                 NJ
4            Peoria                 IL
..              ...                ...
993           Perth  Western Australia
994       Worongary         Queensland
995          Avalon    New South Wales
996          Sydney    New South Wales
997        Ayacucho       Buenos Aires

[998 rows x 2 columns]

# Save CSV file

In [40]:
newdf.to_csv('mynew.csv', index=True)

# Read Excel File

pip or conda to install openpyxl

In [46]:
df = pd.read_excel('./office-supply-sales.xlsx', sheet_name='Sheet1')

In [47]:
df

              OrderDate   Region       Rep     Item  Units  UnitCost    Total
0   2020-06-01 00:00:00     East     Jones   Pencil     95      1.99   189.05
1             1/23/2020  Central    Kivell   Binder     50     19.99   999.50
2   2020-09-02 00:00:00  Central   Jardine   Pencil     36      4.99   179.64
3             2/26/2020  Central      Gill      Pen     27     19.99   539.73
4             3/15/2020     West   Sorvino   Pencil     56      2.99   167.44
5   2020-01-04 00:00:00     East     Jones   Binder     60      4.99   299.40
6             4/18/2020  Central   Andrews   Pencil     75      1.99   149.25
7   2020-05-05 00:00:00  Central   Jardine   Pencil     90      4.99   449.10
8             5/22/2020     West  Thompson   Pencil     32      1.99    63.68
9   2020-08-06 00:00:00     East     Jones   Binder     60      8.99   539.40
10            6/25/2020  Central    Morgan   Pencil     90      4.99   449.10
11  2020-12-07 00:00:00     East    Howard   Binder     29      1.99    57.71
12            7/29/2020     East    Parent   Binder     81     19.99  1619.19
13            8/15/2020     East     Jones   Pencil     35      4.99   174.65
14  2020-01-09 00:00:00  Central     Smith     Desk      2    125.00   250.00
15            9/18/2020     East     Jones  Pen Set     16     15.99   255.84
16  2020-05-10 00:00:00  Central    Morgan   Binder     28      8.99   251.72
17           10/22/2020     East     Jones      Pen     64      8.99   575.36
18  2020-08-11 00:00:00     East    Parent      Pen     15     19.99   299.85
19           11/25/2020  Central    Kivell  Pen Set     96      4.99   479.04
20  2020-12-12 00:00:00  Central     Smith   Pencil     67      1.29    86.43
21           12/29/2020     East    Parent  Pen Set     74     15.99  1183.26
22            1/15/2021  Central      Gill   Binder     46      8.99   413.54
23  2021-01-02 00:00:00  Central     Smith   Binder     87     15.00  1305.00
24            2/18/2021     East     Jones   Binder      4      4.99    19.96
25  2021-07-03 00:00:00     West   Sorvino   Binder      7     19.99   139.93
26            3/24/2021  Central   Jardine  Pen Set     50      4.99   249.50
27  2021-10-04 00:00:00  Central   Andrews   Pencil     66      1.99   131.34
28            4/27/2021     East    Howard      Pen     96      4.99   479.04
29            5/14/2021  Central      Gill   Pencil     53      1.29    68.37
30            5/31/2021  Central      Gill   Binder     80      8.99   719.20
31            6/17/2021  Central    Kivell     Desk      5    125.00   625.00
32  2021-04-07 00:00:00     East     Jones  Pen Set     62      4.99   309.38
33            7/21/2021  Central    Morgan  Pen Set     55     12.49   686.95
34  2021-07-08 00:00:00  Central    Kivell  Pen Set     42     23.95  1005.90
35            8/24/2021     West   Sorvino     Desk      3    275.00   825.00
36  2021-10-09 00:00:00  Central      Gill   Pencil      7      1.29     9.03
37            9/27/2021     West   Sorvino      Pen     76      1.99   151.24
38           10/14/2021     West  Thompson   Binder     57     19.99  1139.43
39           10/31/2021  Central   Andrews   Pencil     14      1.29    18.06
40           11/17/2021  Central   Jardine   Binder     11      4.99    54.89
41  2021-04-12 00:00:00  Central   Jardine   Binder     94     19.99  1879.06
42           12/21/2021  Central   Andrews   Binder     28      4.99   139.72

In [48]:
newdf = df[['Region', 'Total']]

In [49]:
newdf

     Region    Total
0      East   189.05
1   Central   999.50
2   Central   179.64
3   Central   539.73
4      West   167.44
5      East   299.40
6   Central   149.25
7   Central   449.10
8      West    63.68
9      East   539.40
10  Central   449.10
11     East    57.71
12     East  1619.19
13     East   174.65
14  Central   250.00
15     East   255.84
16  Central   251.72
17     East   575.36
18     East   299.85
19  Central   479.04
20  Central    86.43
21     East  1183.26
22  Central   413.54
23  Central  1305.00
24     East    19.96
25     West   139.93
26  Central   249.50
27  Central   131.34
28     East   479.04
29  Central    68.37
30  Central   719.20
31  Central   625.00
32     East   309.38
33  Central   686.95
34  Central  1005.90
35     West   825.00
36  Central     9.03
37     West   151.24
38     West  1139.43
39  Central    18.06
40  Central    54.89
41  Central  1879.06
42  Central   139.72

In [50]:
newdf.to_excel('mynew.xlsx', sheet_name='Sheet1', index=False)